/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Roboto Mono", sans-serif;
}

/* Fonts spécifiques */
h1,
h2,
h3,
h4,
nav,
a,
button {
  font-family: "Space Grotesk", sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between; /* espace entre logo et nav */
  align-items: center; /* aligne verticalement */
  padding: 1rem 2rem; /* marges internes */
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); /* optionnel pour le relief */
}

/* LOGO */
#btn-logo-nav {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  transition: transorm 0.9s ease; /* transition pour le hover */
}

#btn-logo-nav:hover {
  color: #20e20b;
}
/* NAVIGATION */
.nav-bar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-bar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-bar a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav-bar a:hover {
  color: #20e20b;
}

#btn-contact-nav {
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: transform 0.9s ease; /* transition pour le hover */
}

#btn-contact-nav:hover {
  background: #20e20b;
  color: #000;
  transform: scale(1.05);
}

/* FOOTER */
footer {
  background-color: #fff; /* même fond que la nav */
  color: #000;
  padding: 2rem 4rem;
  font-family: "Roboto Mono", monospace;
  border-top: 1px solid #ddd; /* ligne de séparation */
}

footer p {
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

/* Intro Footer */
.intro-footer {
  padding: 2rem 4rem;
  margin-bottom: 2rem;
  text-align: center;
  background-color: #21e20b50;
  border-radius: 12px;
}

.intro-footer a {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 0.2rem;
}

.intro-footer a:hover {
  background-color: #20e20b;
  color:#f9f9f9;
}

/* Footer container - grid */
.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
  justify-items: center; 
  margin: 0 auto;
}

.footer-category h4 {
  padding-bottom: 0.5rem;
}

/* Footer categories */
.footer-category ul {
  list-style: none;
}

.footer-category ul li {
  margin-bottom: 0.5rem;
}

.footer-category ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.footer-category ul li a:hover {
  color: #20e20b;
}

/* p enfants direct du footer ( droits réservés ) */
footer > p {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

/* Section 1 - Introduction */
#introduction {
  display: flex;
  text-align: center;
  padding: 2rem 4rem;
}

.intro-meriton h2 {
  padding-bottom: 1rem;
}

#intro-recherche-stage {
  color: #3da531cb;
  border: 1px solid black;
}

.btn-intro-meriton {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

.btn-intro-meriton a {
  text-decoration: none;
}

#btn-intro-projets {
  background: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: transform 0.9s ease; /* transition pour le hover */
}

#btn-intro-projets:hover {
  background: #555;
  color: #ffffff;
  transform: scale(1.05);
}

#btn-intro-contact {
  color: #000;
  border: 1px solid #55555545;
  border-radius: 6px;
  padding: 0.5rem 1rem;
}

#btn-intro-contact:hover {
  background-color: #20e20b;
  color: #000;
  border: 1px solid black;
}

#langages-span {
  color: #3da531cb;
}

/* Acceuil -> projets */

#projets-acceuil {
  padding: 2rem 4rem;
  background-color: #f9f9f9;
}

#projets-acceuil a {
  text-decoration: none;
  display: flex;
  color: #000;
  padding: 0.5rem 1rem;
  justify-content: center;
  text-align: center;
  border: 1px solid #20e20b;
}

#projets-acceuil a:hover {
  color: #20e20b;
  border: 1px solid white;
}

.projets-meriton {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  text-align: center;
  padding: 2rem 3rem;
  gap: 2rem;
}

.selection-projets-acceuil {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.selection-projets-acceuil:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px #20e20b;
}

.selection-projets-acceuil img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}
